* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

#header {
  height: 60px;
}

#header .nav {
  height: 100%;
  width: 98.5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .nav li {
  padding-left: 16px;
  opacity: 0.75;
  font-size: 13px;
}

#header .nav li a:hover {
  text-decoration: underline;
}

#header .nav .left-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#header .nav .right-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .nav .right-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

#header .nav .right-links button {
  color: white;
  padding: 7px 12px;
  border: none;
  outline: none;
  border-radius: 2px;
  font-weight: bold;
  outline: none;
  background: #4285f4;
  margin: 0 18px 0 15px;
  cursor: pointer;
}

#header .nav .right-links img {
  width: 25px;
  height: auto;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  opacity: 0.8;
}

#header .nav .right-links img:hover {
  opacity: 1;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6rem;
}

#main .logo-image {
  width: 100%;
}

#main .search-bar {
  margin-top: 1.5rem;
  position: relative;
}

#main .search-bar input {
  width: 584px;
  max-width: 95vw;
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 10000px;
  padding: 0.5rem 0 0.5rem 3rem;
  outline: none;
  font-size: 16px;
}

#main .search-bar input:hover {
  -webkit-box-shadow: 0px 1px 2px 2px #e9e9e9;
          box-shadow: 0px 1px 2px 2px #e9e9e9;
}

#main .search-bar .search-icon {
  position: absolute;
  width: 15px;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#main .search-bar .microphone-icon {
  position: absolute;
  width: 15px;
  top: 50%;
  right: 4%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#main .search-buttons {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .search-buttons button {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5f6368;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

#main .search-buttons button:hover {
  border: 1px solid #c7c7c7;
  color: #2e2e2e;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  height: 40px;
}

@media (max-width: 650px) {
  #footer {
    height: 70px;
  }
}

#footer .container {
  width: 98.5%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 650px) {
  #footer .container {
    padding: 1rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#footer .container li {
  padding-left: 20px;
  color: #5f6368;
  font-size: 14px;
}

#footer .container li a:hover {
  text-decoration: underline;
}

#footer .container .left-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#footer .container .right-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
}

#footer .container .right-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
/*# sourceMappingURL=style.css.map */