.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  height: 40px;

  @media (max-width: 650px) {
    height: 70px;
  }

  .container {
    width: 98.5%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 650px) {
      padding: 1rem 0;
      flex-direction: column;
    }

    li {
      padding-left: 20px;
      color: #5f6368;
      font-size: 14px;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .left-links {
      &-list {
        display: flex;
        list-style: none;
      }
    }
    .right-links {
      display: flex;
      align-items: center;
      margin-right: 16px;
      &-list {
        display: flex;
        align-items: center;
        list-style: none;
      }
    }
  }
}
